<launch>
  <arg name="path" default="/scratch/xtionVicon/xtionImuVicon01.bag" />
  <arg name="speed" default="1.0" />

  <arg name="silent"      default="false"/>
  <arg name="visualize"   default="false"/>
  <arg name="f_d"         default="540."/>
  <arg name="sqrtEps"     default ="0.2"/>
  <arg name="B"           default="10"/>

  <node pkg="rosbag" type="play" name="playerXtion" output="log" args=" --start=0 --clock --rate=$(arg speed) $(arg path)"/>

<include file="$(find surfNormals)/launch/rosSmoothNormals_openni2.launch">
  <arg name="rosbag"      value="true"/>
  <arg name="silent"      value="true"/>
  <arg name="visualize"   value="false"/>
  <arg name="f_d"         value="$(arg f_d)"/>
  <arg name="sqrtEps"     value="$(arg sqrtEps)"/>
  <arg name="B"           value="$(arg B)"/>
</include>

<!--
  <node name="uncompress" pkg="image_transport" type="republish" args="compressed in:=/camera/rgb/image_color raw out:=/camera/rgb/image_raw">
  </node>
-->
</launch>

